%h1
  Newest content

%h2
  = 'Add a post', new_topics_post_path

.posts
  - @posts.each do |post|
    .post
      %p
        = link_to post.title, post.url
        in
        = link_to post.topic.name, topic_path(post.topic)
        by 
        = post.user.username
        - if current_user == post.user
          %br
          = link_to 'Edit', edit_post_path(post)
          = link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' } 