.row-fluid

  //Left side

  .span8
    %h1.beta Hi #{@user.username.titleize},
    .bio
      .bio-left
        = image_tag (avatar_url(@user))
      .bio-right
        %p.bio-website
        = @user.website
        %br/
        %p.bio-twitter
        = @user.twitter
        %p.bio-edit
        = link_to 'Edit Profile', edit_user_registration_path


    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Learning Queue
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Learnt

    .tab-content

      #tab1.tab-pane.active
        - if @user.posts.empty?
          %p You have no topics bookmarked.

        - else
          - @user.posts.each do |post|
            = render post

      #tab2.tab-pane
        - if @user.posts.empty?
          %p You havn't LRNT any topics yet.
        - @user.posts.each do |post|
          = render post


  .span4

    %h1.beta Have something to share?
    %p Do you know of something that others could learnt from? Feel free to get involved and contribute your links.
    %div.contribute-btn
      = link_to 'CONTRIBUTE', new_post_path


