.post.content-card
  .row-fluid
    .span2
      .post.actions
      .vote-count
        %span.vote-count-number
          = post.votes.size
        .lrnt-button
          - if current_user
            - vote = current_user.votes.where(:post_id => post.id).exists?
            - if vote
              = link_to 'REMOVE', post_vote_path(post, vote), :method => :delete, :class => "vote-btn"
            -else
              = link_to 'LRNT', post_vote_path(post, vote), :method => :post, :class => "vote-btn"
          - else
            = link_to 'LRNT', new_user_session_path, :method => :post, :class => "vote-btn"

      - if current_user == post.user
        %a.edit
          = link_to 'Edit', edit_post_path(post)
        %a.delete
          = link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        .save
          = link_to 'Later', post_bookmark_path(post), :remote => true, :method => :post

    .span10
      %h1.content-card-title
        = link_to post.title, post.url
      %p.content-card-subtext
        From
        = link_to get_sitename(post.url), post.url
        by
        = link_to post.user.username, user_profile_path(post.user.username)
        = time_ago_in_words(post.created_at)
        ago
      .content-card-topics
      - post.tags.each do |tag|
        %a.content-card-tag{:href => "/topics/#{tag.title}"}= tag.title
      %br/
      