%h1
  Newest content

.posts
  - @posts.each do |post|
    .post
      %p
        = link_to post.title, post.url
      %p.content-list-subtext
        From
        = link_to  "Website Url", "#"
        by
        = post.user.username
        = time_ago_in_words(post.created_at)
        ago
        - if current_user == post.user
        in
        = link_to post.topic.name, topic_path(post.topic)


          %br
          = link_to 'Edit', edit_topic_post_path(@topic, post)
          = link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }