!!!
%html
  %head
    %title LRNR
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "//use.typekit.net/oge2mkq.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container


          %a.brand{:href => posts_path}
            LRNR
            %span Grow your own way
          %ul.pull-right.nav
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}          
                  = image_tag(avatar_url(current_user))
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Profile
                    %li
                      = link_to 'Sign out', destroy_user_session_path, :method => :delete
                %li.submit-btn
                  = link_to 'Submit', new_post_path              
            - else
              %li
                = link_to 'Sign up', new_user_registration_path
              %li
                = link_to 'Sign in', new_user_session_path

    .search-bar
      .container
        .row-fluid
          %input{"data-provide" => "typeahead", :type => "text", :placeholder => "I WANT TO LEARN..."}/

    .container
      .row-fluid

        = yield

    %footer
      .container
        .row-fluid
          %h6
            %a{:href => "#"}
            LRNR

