!!!
%html
  %head
    %title Grow
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_user
      = link_to 'Add a new topic', new_topic_path
      - if @topic
        = link_to 'Add a post', new_topic_post_path(@topic)
    - else
      = link_to 'Sign up', new_user_registration_path
      = link_to 'Sign in', new_user_session_path
    = yield