!!!
%html
  %head
    %title Grow
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container
          %ul.pull-right.nav
            - if current_user
              %li
                = link_to 'Add a new topic', new_topic_path
                = link_to 'Sign out', destroy_user_session_path
            - else
              %li
                = link_to 'Sign up', new_user_registration_path
              %li
                = link_to 'Sign in', new_user_session_path
    .container
      = yield